<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
  <h1>An error has occurred</h1>
  <p>Please contact support.</p>
      <a href="Week1/app/views/customer_support/index.html">home page</a>
</body>
</html>

